.information-container {
    max-width: var(--section-width);
    margin: 1rem auto;
    min-height: auto;
}

@media (max-width: 800px) {
    .information-container {
        max-width: 120vw;
        margin: 1rem;
    }
}