/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

html {
    --link-color: #007aff;
    --link-hover-color: #2A5084;
    --section-width: 58vw;
    line-height: 1.4;
}

.link {
    color: var(--link-color);
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: var(--link-hover-color);
}

.link-on-surface {
    color: var(--mat-sys-on-tertiary-container);
    transition: text-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.link-on-surface:hover,  .link-on-surface:active {
    text-shadow: 0px 0px 1px var(--mat-sys-error);
}

.icon-on-primary-container {
    color: var(--mat-sys-on-primary-container);
}

.icon-on-primary-container:hover, .icon-on-surface:active {
    color: var(--mat-sys-on-primary-dim-container);
}

.icon-on-secondary-container {
    color: var(--mat-sys-on-secondary-container);
}

.icon-on-secondary-container:hover, .icon-on-surface:active {
    color: var(--mat-sys-on-secondary-dim-container);
}

.icon-on-tertiary-container {
    color: var(--mat-sys-on-tertiary-container);
}

.icon-on-tertiary-container:hover, .icon-on-surface:active {
    color: var(--mat-sys-on-tertiary-dim-container);
}